*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 80em) {
    html {
      font-size: 50%; } }

a {
  text-decoration: none; }

.bold {
  font-weight: 600; }

.hero-heading1 {
  font-family: 'Merriweather', serif;
  font-weight: 1000;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #0E004E; }

.hero-heading2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: .5rem;
  color: #0E004E; }
  @media only screen and (max-width: 62.5em) {
    .hero-heading2 {
      font-size: 2.4rem; } }
  @media only screen and (max-width: 50em) {
    .hero-heading2 {
      font-size: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .hero-heading2 {
      font-size: 1.8rem; } }

.heading1 {
  font-family: 'Merriweather', serif;
  font-size: 3rem; }

.box__h1 {
  font-family: 'Merriweather', serif;
  font-size: 2.8rem;
  font-weight: 700;
  color: #0a003f; }
  @media only screen and (max-width: 37.5em) {
    .box__h1 {
      font-size: 3rem; } }

.box__h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 200;
  color: #0E034E;
  padding-bottom: .3rem; }

.box__h2:after {
  content: ' \279D'; }

.footer {
  color: #FFF6E8;
  font-weight: 200; }
  .footer__paragraph {
    font-size: 2.2rem;
    line-height: 4.2rem; }
  .footer__copyright {
    font-size: 1.5rem; }

.btn1 {
  background-color: #0E004E;
  color: #fff;
  border: none;
  border-radius: 10rem;
  font-family: 'merriweather', sans-serif;
  font-weight: 200;
  font-size: 2rem;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: transform .4s ease-in-out; }

.btn1:hover {
  transform: translateY(-0.5rem);
  box-shadow: 3px 6px 35px rgba(68, 72, 104, 0.358); }

.icon-arrow-down {
  margin-top: 1rem;
  width: 3rem;
  transition: .3s ease-in; }

.icon-arrow-down:hover {
  transform: scale(1.3); }

.footer {
  width: 100vw;
  height: 50vh;
  background-color: #0E004E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .footer__iconcontainer {
    margin-top: 3rem;
    margin-bottom: 6.5rem; }
  .footer__icon {
    width: 5rem;
    margin-right: .5rem; }

.navbar {
  position: absolute;
  top: 0;
  width: 100vw;
  font-size: 2rem;
  font-weight: 200;
  background-color: none; }

.main-nav {
  list-style-type: none;
  display: none; }

.nav-links,
.logo {
  font-family: 'merriweather', sans-serif;
  text-decoration: none;
  color: #0E004E; }

.underline {
  color: #0E004E; }

a.underline::after {
  content: '';
  display: block;
  width: 0;
  height: 0.1rem;
  background: #0E004E;
  transition: .6s; }

a.underline:hover::after {
  width: 100%; }

.logo {
  display: inline-block;
  margin-top: 3.5rem;
  margin-left: 20px;
  font-size: 2rem;
  font-weight: 600; }

.main-nav li {
  text-align: center;
  padding: 1rem 2.5rem; }
  @media only screen and (max-width: 37.5em) {
    .main-nav li {
      padding: 4rem 0; } }

.navbar-toggle {
  position: absolute;
  top: 3rem;
  right: 4rem;
  cursor: pointer;
  color: #0E004E;
  font-size: 24px; }

.active {
  display: block; }

#kontakt {
  background-color: #FFF6E8;
  border-radius: 5rem; }

@media screen and (min-width: 720px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center; }
  .logo {
    display: inline-block;
    margin-top: 1rem;
    margin-left: 3rem; }
  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end; }
  .main-nav li {
    margin-top: 1.2rem; }
  .nav-links {
    margin-left: 40px; }
  .navbar-toggle {
    display: none;
    transition: transform .8s ease-in; } }

.burgerline {
  background-color: #0E004E;
  border-radius: 10rem;
  height: 2px;
  width: 3rem;
  margin-top: .7rem;
  margin-bottom: .8rem;
  transition: transform .2s ease-in; }

.toggle .burgerline1 {
  transform: rotate(-45deg) translate(-5px, 6px); }

.toggle .burgerline2 {
  opacity: 0; }

.toggle .burgerline3 {
  transform: rotate(45deg) translate(-5px, -6px); }

.header {
  width: 100%; }
  .header__index {
    position: relative;
    display: flex;
    width: 100vw; }
  .header__herotext {
    width: 100vw;
    position: absolute;
    top: 6%;
    padding: 10vw;
    text-align: center; }
    @media only screen and (max-width: 80em) {
      .header__herotext {
        top: 12%; } }
    @media only screen and (max-width: 62.5em) {
      .header__herotext {
        top: 10%;
        font-size: 2.5rem; } }
    @media only screen and (max-width: 50em) {
      .header__herotext {
        top: 10%; } }
  .header__heroimg {
    width: 85vw; }
    @media only screen and (max-width: 80em) {
      .header__heroimg {
        width: 90vw; } }
    @media only screen and (max-width: 37.5em) {
      .header__heroimg {
        background-image: url("../img/heroimg4.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 95vw;
        height: 85vh; }
        .header__heroimg--small, .header__heroimg--big {
          visibility: hidden; } }
  .header__figur1 {
    position: absolute;
    top: 75rem;
    right: 65rem;
    transform: translatey(0rem);
    animation: float 15s ease-in-out infinite; }
  .header__figur2 {
    position: absolute;
    top: 80rem;
    right: 65rem;
    transform: translatey(0px);
    animation: float 20s ease-in-out infinite; }
  .header__figur3 {
    position: absolute;
    top: 80rem;
    right: 75rem;
    transform: translatey(0px);
    animation: float 30s ease-in-out infinite; }

@keyframes float {
  0% {
    transform: translatey(0px);
    opacity: 0; }
  20% {
    opacity: 1; }
  50% {
    transform: translateY(-300px) translatex(60px) rotate(90deg);
    opacity: 1; }
  100% {
    transform: translateY(-300px) translatex(50px) rotate(90deg);
    opacity: 0; } }

.indexcontainer {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(17, 14vh);
  grid-gap: 2.5rem;
  padding: 12rem 14vw; }
  @media only screen and (max-width: 80em) {
    .indexcontainer {
      padding: 12rem 7vw; } }
  @media only screen and (max-width: 62.5em) {
    .indexcontainer {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(24, 14vh);
      padding: 12rem 8vw; } }
  @media only screen and (max-width: 50em) {
    .indexcontainer {
      padding: 12rem 10vw;
      grid-gap: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .indexcontainer {
      padding: 12rem 3vw;
      grid-gap: 2rem; } }
  .indexcontainer__box {
    border-radius: 1rem;
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, min-content) 1fr;
    grid-gap: 1.5rem;
    transition: .3s ease-in-out; }
    @media only screen and (max-width: 37.5em) {
      .indexcontainer__box {
        padding: 10vw; } }
  .indexcontainer__heading1 {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center; }
  .indexcontainer__tags--tag {
    color: #fffaf8;
    font-size: 1.8rem;
    font-weight: 200;
    padding-top: .6rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: .6rem;
    margin-right: .2rem; }
  .indexcontainer__tags--modus {
    background-color: #4a52e6aa; }
  .indexcontainer__tags--jeghardeg {
    background-color: #b5293c85; }
  .indexcontainer__tags--apenhet {
    background-color: #064398b7; }
  .indexcontainer__tags--oslofortwo {
    background-color: #d9646480; }
  .indexcontainer__tags--researchpaper {
    background-color: #D6AD00; }
  .indexcontainer__modus {
    background-color: #4a52e641;
    grid-row: 2 / 7;
    grid-column: 1 / 2; }
    @media only screen and (max-width: 62.5em) {
      .indexcontainer__modus {
        grid-row: 2 / 6;
        grid-column: 1 / -1; } }
    .indexcontainer__modus--img {
      width: 90%;
      transform: rotate(24deg);
      transition: .8s ease-in-out;
      justify-self: center;
      align-self: center; }
    .indexcontainer__modus:hover {
      background-color: #4A51E6; }
  .indexcontainer__jeghardeg {
    background-color: #FFEBEE;
    grid-row: 2 / 6;
    grid-column: 2 / -1; }
    @media only screen and (max-width: 62.5em) {
      .indexcontainer__jeghardeg {
        grid-row: 6 / 10;
        grid-column: 1 / -1; } }
    .indexcontainer__jeghardeg--img {
      width: 60%;
      transform: rotate(24deg);
      transition: .8s ease-in-out;
      justify-self: center;
      align-self: end; }
    .indexcontainer__jeghardeg:hover {
      background-color: #B42639; }
  .indexcontainer__oslofortwo {
    background-color: #FFECE6;
    grid-row: 7 / 11;
    grid-column: 1 / 2; }
    @media only screen and (max-width: 62.5em) {
      .indexcontainer__oslofortwo {
        grid-row: 10/ 14;
        grid-column: 1 / -1; } }
    .indexcontainer__oslofortwo:hover {
      background-color: #D96464; }
  .indexcontainer__apenhet {
    background-color: #E5F1FA;
    grid-row: 6 / 11;
    grid-column: 2 / 3; }
    @media only screen and (max-width: 62.5em) {
      .indexcontainer__apenhet {
        grid-row: 14/ 18;
        grid-column: 1 / -1; } }
    .indexcontainer__apenhet:hover {
      background-color: #2B83D0; }
  .indexcontainer__researchpaper {
    background-color: #FFFBEA;
    grid-row: 11 / 16;
    grid-column: 1 / -1; }
    @media only screen and (max-width: 62.5em) {
      .indexcontainer__researchpaper {
        grid-row: 18/ 23;
        grid-column: 1 / -1; } }
    .indexcontainer__researchpaper--img {
      width: 25%;
      transform: rotate(24deg);
      transition: .8s ease-in-out;
      justify-self: center;
      align-self: center; }
    .indexcontainer__researchpaper:hover {
      background-color: #E0B500; }
  .indexcontainer__btn1 {
    grid-row: 16 / 17;
    grid-column: 1 / -1;
    align-self: end;
    justify-self: center; }
    @media only screen and (max-width: 62.5em) {
      .indexcontainer__btn1 {
        grid-row: 23/ 24;
        grid-column: 1 / -1; } }
