*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

a, h1, h2 {
  text-decoration: none; }

.header__index {
  width: 100vw;
  height: 100vh;
  background-color: #8351ED; }

.indexgrid {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(16, 14vh);
  grid-gap: 2.5rem;
  padding: 10rem 15vw; }
  @media only screen and (max-width: 62.5em) {
    .indexgrid {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(29, 14vh); } }
  .indexgrid__modus, .indexgrid__jeghardeg, .indexgrid__oslofortwo, .indexgrid__apenhet, .indexgrid__researchpaper {
    border-radius: 1rem;
    padding: 4rem; }
  .indexgrid__modus {
    background-color: #EFEFFF;
    grid-row: 2 / 7;
    grid-column: 1 / 2;
    transition: .3s ease-in-out; }
    .indexgrid__modus--img {
      width: 80%;
      transform: rotate(24deg);
      transition: .8s ease-in-out; }
    .indexgrid__modus:hover {
      background-color: #4A51E6; }
  .indexgrid__jeghardeg {
    background-color: #FFEBEE;
    grid-row: 2 / 6;
    grid-column: 2 / -1; }
    @media only screen and (max-width: 62.5em) {
      .indexgrid__jeghardeg {
        grid-row: 7 / 12;
        grid-column: 1 / -1; } }
  .indexgrid__oslofortwo {
    background-color: #FFECE6;
    grid-row: 7 / 11;
    grid-column: 1 / 2; }
    @media only screen and (max-width: 62.5em) {
      .indexgrid__oslofortwo {
        grid-row: 12/ 17;
        grid-column: 1 / -1; } }
  .indexgrid__apenhet {
    background-color: #E5F1FA;
    grid-row: 6 / 11;
    grid-column: 2 / 3; }
    @media only screen and (max-width: 62.5em) {
      .indexgrid__apenhet {
        grid-row: 17/ 22;
        grid-column: 1 / -1; } }
  .indexgrid__researchpaper {
    background-color: #FFFBEA;
    grid-row: 11 / 16;
    grid-column: 1 / -1; }
    @media only screen and (max-width: 62.5em) {
      .indexgrid__researchpaper {
        grid-row: 22/ 27;
        grid-column: 1 / -1; } }
