a {
  text-decoration: none; }

.box__h1,
.box__h2 {
  color: #0E034E; }

.box__h1 {
  font-size: 4rem; }

.box__h2 {
  font-size: 3rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

.header__index {
  width: 100vw;
  height: 100vh;
  background-color: #8351ED; }

.indexcontainer {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(16, 14vh);
  grid-gap: 2.5rem;
  padding: 12rem 15vw; }
  @media only screen and (max-width: 62.5em) {
    .indexcontainer {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(27, 14vh); } }
  .indexcontainer__box {
    border-radius: 1rem;
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: min-content;
    grid-gap: 2.5rem;
    transition: .3s ease-in-out; }
  .indexcontainer__modus {
    background-color: #4a52e641;
    grid-row: 2 / 7;
    grid-column: 1 / 2; }
    @media only screen and (max-width: 62.5em) {
      .indexcontainer__modus {
        grid-row: 2 / 7;
        grid-column: 1 / -1; } }
    .indexcontainer__modus--img {
      width: 90%;
      transform: rotate(24deg);
      transition: .8s ease-in-out;
      justify-self: center; }
    .indexcontainer__modus:hover {
      background-color: #4A51E6; }
  .indexcontainer__jeghardeg {
    background-color: #FFEBEE;
    grid-row: 2 / 6;
    grid-column: 2 / -1; }
    @media only screen and (max-width: 62.5em) {
      .indexcontainer__jeghardeg {
        grid-row: 7 / 12;
        grid-column: 1 / -1; } }
    .indexcontainer__jeghardeg--img {
      width: 90%;
      transform: rotate(24deg);
      transition: .8s ease-in-out;
      justify-self: center; }
    .indexcontainer__jeghardeg:hover {
      background-color: #B42639; }
  .indexcontainer__oslofortwo {
    background-color: #FFECE6;
    grid-row: 7 / 11;
    grid-column: 1 / 2; }
    @media only screen and (max-width: 62.5em) {
      .indexcontainer__oslofortwo {
        grid-row: 12/ 17;
        grid-column: 1 / -1; } }
    .indexcontainer__oslofortwo:hover {
      background-color: #D96464; }
  .indexcontainer__apenhet {
    background-color: #E5F1FA;
    grid-row: 6 / 11;
    grid-column: 2 / 3; }
    @media only screen and (max-width: 62.5em) {
      .indexcontainer__apenhet {
        grid-row: 17/ 22;
        grid-column: 1 / -1; } }
    .indexcontainer__apenhet:hover {
      background-color: #2B83D0; }
  .indexcontainer__researchpaper {
    background-color: #FFFBEA;
    grid-row: 11 / 16;
    grid-column: 1 / -1; }
    @media only screen and (max-width: 62.5em) {
      .indexcontainer__researchpaper {
        grid-row: 22/ 27;
        grid-column: 1 / -1; } }
    .indexcontainer__researchpaper:hover {
      background-color: #E0B500; }
