$primary-color: #0E004E;
$secondary-color: #FFF6E8;


// *TAGS COLOR*
$modus-color:#2c329d;
$modus-tagbackground: #4a52e622;

$jeghardeg-color: #971325;
$jeghardeg-tagbackground: #d1193215;

$oslofortwo-color:#c44d4d;
$oslofortwo-tagbackground:#d9646425;

$apenhet-color: #1d447a;
$apenhet-tagbackground: #06439823;

$researchpaper-color: #806c10;
$researchpaper-tagbackground: #d6af002c;