.footer{
    width: 100vw;
    height: 50vh;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    &__iconcontainer{
        margin-top: 3rem;
        margin-bottom: 6.5rem;
    }
    &__icon{
        width: 5rem;
        margin-right: .5rem;
    }
}