  .navbar {
    font-size: 2rem;
    font-weight: 200;
  }

  .main-nav {
    list-style-type: none;
    display: none;
  }
  
  .nav-links,
  .logo {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  .main-nav li {
    text-align: center;
    margin-top: 2rem;
  }
  
  .logo {
    display: inline-block;
    margin-top: 1.5rem;
    margin-left: 20px;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 1rem;
    right: 3rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 24px;
  }
  
  .active {
    display: block;
  }
  
  @media screen and (min-width: 720px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }
  
    .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .main-nav li {
      margin-top: 1.2rem;
    }
  
    .nav-links {
      margin-left: 40px;
    }
  
    .logo {
      //margin-top: 1.2rem;
    }
  
    .navbar-toggle {
      display: none;
    }
  
    .logo:hover,
    .nav-links:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
  
  .burgerline{
    border: none;
    background-color: #fff;
    height: 1px;
    width: 4.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .burgerline::before,
  .burgerline::after{
        background-color: #fff;
        height: 1px;
        width: 4.5rem;
        content: " ";
        display: block;
    }