.btn1{
    background-color: #0E004E;
    color: #fff;
    border: none;
    border-radius: 10rem;
    font-family: 'poppins, sans-serif';
    font-weight: 600;
    font-size: 2rem;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transform: all .2s;
}
.btn1:hover{
    transform: translateY(-10rem);
}