.btn1{
    background-color: #0E004E;
    color: #fff;
    border: none;
    border-radius: 10rem;
    font-family: 'merriweather', sans-serif;
    font-weight: 200;
    font-size: 2rem;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: transform .4s ease-in-out; 
    //text-transform: uppercase;
}
.btn1:hover{
    transform: translateY(-.5rem);
    box-shadow: 3px 6px 35px rgba(68, 72, 104, 0.358);
}

.icon-arrow-down{
    margin-top: 1rem;
    width: 3rem;
    transition: .4s ease-in;
}
.icon-arrow-down:hover{
    transform: scale(1.3);
}