.header{

    &__circleyellow,
    &__circlered,
    &__square,
    &__squarey,
    &__pen,
    &__star,
    &__trekant,
    &__trekant2,
    &__person,
    &__code {
        position: absolute;
        transform: translatey(0rem);
        animation: float 4s ease-in-out infinite;

        @media only screen and (max-width: $bp-large) {
            visibility: hidden;
        }

        @media only screen and (max-width: $bp-medium) {
            visibility: hidden;
        }

        @media only screen and (max-width: $bp-small) {
            visibility: hidden;
        }
    }

    &__circlered {
        top: 60vh;
        left: 32vw;
        width: 2rem;
    }

    &__circleyellow {
        top: 20vh;
        right: 30vw;
        width: 1.6rem;
    }

    &__square {
        top: 65vh;
        left: 30rem;
        width: 4rem;
    }

    &__squarey {
        top: 73vh;
        right: 45vw;
        width: 2rem;
    }

    &__pen {
        top: 40vh;
        right: 15vw;
        width: 4.5rem;

        @media only screen and (max-width: $bp-small) {
            top: 50vh;
            right: 10vw;
            width: 2rem;
            visibility: visible;
        }
    }

    &__star {
        top: 65vh;
        right: 18vw;
        width: 3rem;

        @media only screen and (max-width: $bp-small) {
            top: 60vh;
            visibility: visible;
            right: 30vw;
        }
    }

    &__trekant {
        top: 60vh;
        right: 30vw;
        width: 2.5rem;
        transform: rotate(80deg);

        @media only screen and (max-width: $bp-small) {
            top: 55vh;
            right: 50vw;
            width: 2.8rem;
            visibility: visible;
        }
    }

    &__trekant2 {
        top: 10vh;
        left: 30rem;
        width: 2rem;
    }

    &__person {
        top: 30rem;
        left: 10rem;
    }

    &__code {
        top: 80vh;
        right: 32vw;
        width: 3rem;

        @media only screen and (max-width: $bp-largest) {
            top: 85vh;
        }

        @media only screen and (max-width: $bp-large) {
            top: 70vh;
        }

        @media only screen and (max-width: $bp-small) {
            visibility: visible;
            top: 68vh;
            right: 15vw;
            width: 2rem;
        }
    }
}


@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}
