//responsive breakpoints
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px = 1000/16
$bp-medium: 50em; //800px = 800/16
$bp-small: 37.5em; //600px = 600/16

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; //10px/16px = 62.5% --> 1rem = 10px
    @media only screen and (max-width: $bp-largest){
        font-size: 50%;
    }

}