a{
    text-decoration: none;
}

//Index
.box__h1,
.box__h2{
    color: #0E034E;
    font-family: 'Poppins', sans-serif;
}
.box__h1{
    font-size: 3rem;
    font-weight: 700;
    @media only screen and (max-width: $bp-small){
        font-size: 3rem;
    }
}
.box__h2{
    font-size: 2rem;
    font-weight: 200;
}
// .box__h2:after {
//     // content: ' \2192';
//     content: ' \279D';
//   }

.heading1{
    font-size: 6rem;
}