a{
    text-decoration: none;
    &.white{
        color: white;
    }
}
.bold{
    font-weight: 600;
}

//Index
.hero-heading1{
    font-family: 'Merriweather', serif;
    font-weight: 1000;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: $primary-color;
    &--white{
        color: white;
    }
}
.hero-heading2{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: .5rem;
    color: $primary-color;
    @media only screen and (max-width: $bp-largest) {
        font-size: 2.4rem;
    }
    @media only screen and (max-width: $bp-medium) {
        font-size: 2rem;
    }
    @media only screen and (max-width: $bp-small) {
        font-size: 1.8rem;
    }
    &--white{
        color: white;
    }
}

.heading1{
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    color: $primary-color;
}
.box__h1{
    font-family: 'Merriweather', serif;
    font-size: 2.8rem;
    font-weight: 700;
    color: #0a003f;
    @media only screen and (max-width: $bp-small){
        font-size: 3rem;
    }
}
.box__h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 200;
    color: #0E034E;
    padding-bottom: .3rem;
}
.box__h2:after {
    // content: ' \2192';
    content: ' \279D';
  }



.footer {
    color: $secondary-color;
    font-weight: 200;

    &__paragraph{
        font-size: 2.2rem;
        line-height: 4.2rem;
    }
    &__copyright{
        font-size: 1.5rem;
    }
}

// Modus
.heading-modus1{
    font-size: 9rem;
    color: #1F0C72;
}
.heading-modus2{
    font-size: 5rem;
    color: #2C11A5;
    &--dark{
        color: #1F0C72;
    }
}
.heading-modus3,
.heading-prosjektbeskrivelse{
    font-family: 'Merriweather', serif;
    font-size: 2.8rem;
    font-weight: 700;
    padding-bottom: 2rem;
}

.paragraph-modus{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.8;
    font-weight: 200;
}

.heading-prosjektbeskrivelse{
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 2rem;
}
.paragraph-prosjektbeskrivelse{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.8;
    font-weight: 200;
    margin-bottom: 4rem;
}