#headerBlog{
    width: 100vw;
}
#mainBlog{
    width: 100vw;
}
.sectionBlog{
    width: 100vw;
    padding: 20rem 20vw;
    @media only screen and (max-width: $bp-medium) {
        padding: 20rem 10vw;
    }
}

#blogPostContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	gap: 3rem;
    margin: 5rem 0;
}

.blogPostThumbnail{
    display: grid;
    grid-gap: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px 1px #88888838;
    padding-bottom: 3rem;
    text-decoration: none;
}
.blogPostThumbnail:hover{
    box-shadow: 1px 5px 20px 1px #88888823;
    transform: translatey(-5px);
    transition: all .8s ease;
}
.imgThumbnailContainer{
    text-align: center;
    height: 25rem;
    background-color: rgb(233, 233, 233);
    border-radius: 1rem 1rem 0px 0px;
    overflow: hidden;
    margin-bottom: 1rem;

    .imgThumbnail{
        width: 100%;
        height: 100%;
    }
}
.h1-thumbnail{
    font-family: merriweather, serif;
    font-size: 2rem;
    color: $primary-color;

    padding-left: 2rem;
    padding-right: 2rem;
}
.p-thumbnail{
    font-family: 'poppins', serif;
    font-size: 1.6rem;
    color: $primary-color;

    padding-left: 2rem;
    padding-right: 2rem;
}

