#headerBlog{
    width: 100vw;
}
#mainBlog{
    width: 100vw;
}
.sectionBlog{
    width: 100vw;
    padding: 10rem 20vw;
}

#blog_container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	gap: 14px;
}
.blog-listing{
    background-color: aquamarine;
}
.imgThumbnail{
    max-width: 100%;
}
