.header{
    &__index{
        position: relative;
        width: 100vw;
        background-color: #8351ED;
    }
    #hero{
        width: 75vw;
    }
}

.indexcontainer{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(17, 14vh);
    grid-gap: 2.5rem;
    padding: 12rem 14vw;
    @media only screen and (max-width: $bp-largest){
        padding: 12rem 7vw;
    }
    @media only screen and (max-width: $bp-large){
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(24, 14vh);
        padding: 12rem 8vw;
    }
    @media only screen and (max-width: $bp-medium){
        padding: 12rem 10vw;
        grid-gap: 4rem;
    }
    @media only screen and (max-width: $bp-small){
        padding: 12rem 3vw;
        grid-gap: 2rem;
    }
    

    &__box{
        border-radius: 1rem;
        padding: 5rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, min-content) 1fr;
        grid-gap: 1.5rem;
        transition: .3s ease-in-out;
        @media only screen and (max-width: $bp-small){
            padding: 10vw;
        }
    }

    &__heading1{
        grid-row: 1 / 2;
        grid-column: 1 / -1;
    }
    &__tags {
    
        &--tag{
            color: #fffaf8;
            font-size: 1.8rem;
            font-weight: 200;
            padding-top: .6rem;
            padding-bottom: .5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            border-radius: .6rem;
            margin-right: .2rem;
        }

        &--modus{
            background-color: #4a52e6aa;
        }
        &--jeghardeg{
            background-color: #b5293c85;
        }
        &--apenhet{
            background-color: #064398b7;
        }
        &--oslofortwo{
            background-color: #d9646480;
        }
        &--researchpaper{
            background-color: #D6AD00;
        }
    }

    &__modus{
        background-color: #4a52e641;
        grid-row: 2 / 7;
        grid-column: 1 / 2;
        @media only screen and (max-width: $bp-large){
            grid-row: 2 / 6;
            grid-column: 1 / -1;
        }
        &--img{
            width: 90%;
            transform: rotate(24deg);
            transition: .8s ease-in-out;
            justify-self: center;
            align-self: center;
        }
        &:hover{
            background-color: #4A51E6;
        }
    }

    &__jeghardeg{
        background-color: #FFEBEE;
        grid-row: 2 / 6;
        grid-column: 2 / -1;
        @media only screen and (max-width: $bp-large){
            grid-row: 6 / 10;
            grid-column: 1 / -1;
        }
        &--img{
            width: 60%;
            transform: rotate(24deg);
            transition: .8s ease-in-out;
            justify-self: center;
            align-self: center;
        }
        &:hover{
            background-color: #B42639;
        }
    }

    &__oslofortwo{
        background-color: #FFECE6;
        grid-row: 7 / 11;
        grid-column: 1 / 2;
        @media only screen and (max-width: $bp-large){
            grid-row: 10/ 14;
            grid-column: 1 / -1;
        }
        &:hover{
            background-color: #D96464;
        }
    }

    &__apenhet{
        background-color: #E5F1FA;
        grid-row: 6 / 11;
        grid-column: 2 / 3;
        @media only screen and (max-width: $bp-large){
            grid-row: 14/ 18;
            grid-column: 1 / -1;
        }
        &:hover{
            background-color: #2B83D0;
        }
    }

    &__researchpaper{
        background-color: #FFFBEA;
        grid-row: 11 / 16;
        grid-column: 1 / -1;
        @media only screen and (max-width: $bp-large){
            grid-row: 18/ 23;
            grid-column: 1 / -1;
        }
        &:hover{
            background-color: #E0B500;
        }
    }

    &__btn1{
        grid-row: 16 / 17;
        grid-column: 1 / -1;
        align-self: end;
        justify-self: center;
        @media only screen and (max-width: $bp-large){
            grid-row: 23/ 24;
            grid-column: 1 / -1;
        }
    }
}

.references{
    width: 100vw;
    height: 70vh;
    background-color: #FAFAFF;
}

.footer{
    width: 100vw;
    height: 50vh;
    background-color: #8351ED;
}