.header {
    width: 100%;

    &__index {
        position: relative;
        display: flex;
        width: 100vw;
        // height: 130vh;
    }

    &__herotext {
        width: 100vw;
        position: absolute;
        top: 6%;
        padding: 10vw;
        text-align: center;

        @media only screen and (max-width: $bp-largest) {
            top: 12%;
        }

        @media only screen and (max-width: $bp-large) {
            top: 10%;
            font-size: 2.5rem;
        }

        @media only screen and (max-width: $bp-medium) {
            top: 10%;
        }
    }

    &__heroimg {
        width: 85vw;
        margin-bottom: 10rem;

        @media only screen and (max-width: $bp-largest) {
            width: 93vw;
        }

        @media only screen and (max-width: $bp-small) {

            &--1,
            &--2 {
                visibility: hidden;
                opacity: 0;
            }

            background-image: url('../img/heroimg4.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            margin-bottom: 0rem;
            width: 99vw;
            height: 100vh;

        }
    }

    &__circleyellow,
    &__circlered,
    &__square,
    &__squarey,
    &__pen,
    &__star,
    &__trekant,
    &__trekant2,
    &__person,
    &__code {
        position: absolute;
        transform: translatey(0rem);
        animation: float 4s ease-in-out infinite;

        @media only screen and (max-width: $bp-large) {
            visibility: hidden;
        }

        @media only screen and (max-width: $bp-medium) {
            visibility: hidden;
        }

        @media only screen and (max-width: $bp-small) {
            visibility: hidden;
        }
    }

    &__circlered {
        top: 60vh;
        left: 32vw;
        width: 2rem;
    }

    &__circleyellow {
        top: 20vh;
        right: 30vw;
        width: 1.6rem;
    }

    &__square {
        top: 65vh;
        left: 30rem;
        width: 4rem;
    }

    &__squarey {
        top: 73vh;
        right: 45vw;
        width: 2rem;
    }

    &__pen {
        top: 40vh;
        right: 15vw;
        width: 4.5rem;

        @media only screen and (max-width: $bp-small) {
            top: 50vh;
            right: 10vw;
            width: 2rem;
            visibility: visible;
        }
    }

    &__star {
        top: 65vh;
        right: 18vw;
        width: 3rem;

        @media only screen and (max-width: $bp-small) {
            top: 60vh;
            visibility: visible;
            right: 30vw;
        }
    }

    &__trekant {
        top: 60vh;
        right: 30vw;
        width: 2.5rem;
        transform: rotate(80deg);

        @media only screen and (max-width: $bp-small) {
            top: 55vh;
            right: 50vw;
            width: 2.8rem;
            visibility: visible;
        }
    }

    &__trekant2 {
        top: 10vh;
        left: 30rem;
        width: 2rem;
    }

    &__person {
        top: 30rem;
        left: 10rem;
    }

    &__code {
        top: 80vh;
        right: 32vw;
        width: 3rem;

        @media only screen and (max-width: $bp-largest) {
            top: 85vh;
        }

        @media only screen and (max-width: $bp-large) {
            top: 70vh;
        }

        @media only screen and (max-width: $bp-small) {
            visibility: visible;
            top: 68vh;
            right: 15vw;
            width: 2rem;
        }
    }

}



@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}


.indexcontainer {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(17, 14vh);
    grid-gap: 2.5rem;
    padding: 12rem 14vw;

    @media only screen and (max-width: $bp-largest) {
        padding: 12rem 7vw;
    }

    @media only screen and (max-width: $bp-large) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(24, 14vh);
        padding: 12rem 8vw;
    }

    @media only screen and (max-width: $bp-medium) {
        padding: 12rem 10vw;
        grid-gap: 4rem;
    }

    @media only screen and (max-width: $bp-small) {
        padding: 12rem 3vw;
        grid-gap: 2rem;
    }


    &__box {
        border-radius: 1rem;
        padding: 5rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, min-content) 1fr;
        grid-gap: 1.5rem;
        transition: .3s ease-in-out;

        @media only screen and (max-width: $bp-small) {
            padding: 10vw;
        }
    }

    &__heading1 {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        align-self: center;
        justify-self: center;
    }

    &__tags {

        &--tag {
            color: #fffaf8;
            font-size: 1.8rem;
            font-weight: 200;
            padding-top: .6rem;
            padding-bottom: .5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            border-radius: .6rem;
            margin-right: .2rem;
        }

        &--modus {
            background-color: #4a52e6aa;
        }

        &--jeghardeg {
            background-color: #b5293c85;
        }

        &--apenhet {
            background-color: #064398b7;
        }

        &--oslofortwo {
            background-color: #d9646480;
        }

        &--researchpaper {
            background-color: #D6AD00;
        }
    }

    &__modus {
        background-color: #4a52e641;
        grid-row: 2 / 7;
        grid-column: 1 / 2;

        @media only screen and (max-width: $bp-large) {
            grid-row: 2 / 6;
            grid-column: 1 / -1;
        }

        &--img {
            width: 50%;
            transform: rotate(24deg);
            transition: .8s ease-in-out;
            justify-self: center;
            align-self: center;
        }

        &:hover {
            background: rgb(74, 81, 230);
            background: linear-gradient(218deg, rgba(74, 81, 230, 1) 0%, rgba(74, 17, 165, 1) 100%);
        }
    }

    &__jeghardeg {
        background-color: #FFEBEE;
        grid-row: 2 / 6;
        grid-column: 2 / -1;

        @media only screen and (max-width: $bp-large) {
            grid-row: 6 / 10;
            grid-column: 1 / -1;
        }

        &--img {
            width: 70%;
            transform: rotate(-14deg);
            transition: .8s ease-in-out;
            justify-self: center;
            align-self: end;
        }

        &:hover {
            background-color: #B42639;
        }
    }

    &__oslofortwo {
        background-color: #FFECE6;
        grid-row: 7 / 11;
        grid-column: 1 / 2;

        @media only screen and (max-width: $bp-large) {
            grid-row: 10/ 14;
            grid-column: 1 / -1;
        }

        &:hover {
            background-color: #D96464;
        }
        &--img {
            width: 35%;
            transform: rotate(-24deg);
            transition: .8s ease-in-out;
            justify-self: center;
            align-self: start;
        }
    }

    &__apenhet {
        background-color: #E5F1FA;
        grid-row: 6 / 11;
        grid-column: 2 / 3;

        &--img {
            width: 90%;
            transform: rotate(14deg);
            transition: .8s ease-in-out;
            justify-self: center;
            align-self: center;
        }

        @media only screen and (max-width: $bp-large) {
            grid-row: 14/ 18;
            grid-column: 1 / -1;
        }

        &:hover {
            background-color: #2B83D0;
        }
        
    }

    &__researchpaper {
        background-color: #FFFBEA;
        grid-row: 11 / 16;
        grid-column: 1 / -1;

        @media only screen and (max-width: $bp-large) {
            grid-row: 18/ 23;
            grid-column: 1 / -1;
        }

        &--img {
            width: 25%;
            transform: rotate(24deg);
            transition: .8s ease-in-out;
            justify-self: center;
            align-self: center;
        }

        &:hover {
            background-color: #E0B500;
        }
    }

    &__btn1 {
        grid-row: 16 / 17;
        grid-column: 1 / -1;
        align-self: end;
        justify-self: center;

        @media only screen and (max-width: $bp-large) {
            grid-row: 23/ 24;
            grid-column: 1 / -1;
        }
    }
}