.header {
    &__jeghardeg {
        position: relative;
        height: 110vh;
        background: #5f0327;

        &__hero-container {
            position: relative;
            top: 20rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            text-align: center;
            z-index: 1;

        }
    }

    .jeghardeg-heroimg-container{
        width: 95rem;

        .jeghardeg-heroimg{
            width: 100%;
        }
    }
    
}

.paragraph-1fr-2fr{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr .8fr;

    .col-1-to-3{
        grid-column: 1 / 3;
     }

     .col-stretched{
    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: 1fr;
        grid-column: 1 / 3;
    }
    }

    .verktoy-img{
        padding-left: 3rem;
        @media only screen and (max-width: $bp-medium) {
            padding-left: 0rem;
            margin-bottom: 2.4rem;
        }
    }
}
