.header {
    &__jeghardeg {
        position: relative;
        height: 155vh;
        background: #D96464;

        &__hero-container {
            position: relative;
            top: 20rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            text-align: center;
            z-index: 1;

            &--img {
                // background-image: url("../img/phone-jeghardeg.svg");
                // background-size: 100%;
                // background-repeat: no-repeat;
                // max-width: 48rem;
                // height: 95rem;
                // margin: 2rem;

                @media only screen and (max-width: $bp-small) {
                    height: 80rem;
                }
            }

            &--gif {
                position: relative;
                width: 90%;
                padding: 6rem;
                top: 4.8rem;
            }
        }
    }
}
