.header {
    &__modus {
        position: relative;
        height: 155vh;
        background: rgb(74, 81, 230);
        background: linear-gradient(218deg, rgba(74, 81, 230, 1) 0%, rgba(74, 17, 165, 1) 100%);

        &__wave1{
            position: absolute;
            top: 0;
            left: 0;
            max-width: 50rem;
            &--img{
                width: 100%;
            }
        }
        &__wave2{
            position: absolute;
            bottom: 0;
            right: 0;
            max-width: 70rem;
            &--img{
                width: 100%;
            }
        }

        &__hero-container {
            position: relative;
            top: 20rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            text-align: center;
            z-index: 1;

            &--img{
                background-image: url("../img/modus/phone-white.svg");
                background-size: 100%;
                background-repeat: no-repeat;
                max-width: 48rem;
                height: 95rem;
                margin: 2rem;
                @media only screen and (max-width: $bp-small) {
                    height: 80rem;
                }
            }
            // &--phone{
            //     width: 100%;
            // }
            &--gif {
                position: relative;
                width: 90%;
                padding: 6rem;
                top: 4.8rem;
            }
        }
    }


}

.main {
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;



    &__resultscontainer {
        max-width: 100rem;
        display: flex;
        flex-flow: column;
        //justify-content: center;

        &--flow-normal,
        &--flow-reverse {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            margin-bottom: 10rem;
            align-items: center;
        }

        &--flow-normal {
            @media only screen and (max-width: $bp-large) {
                flex-flow: row wrap;
            }
        }

        &--flow-reverse {
            @media only screen and (max-width: $bp-large) {
                flex-flow: row wrap-reverse;
            }
        }

        &__text {
            max-width: 50rem;
            padding: 2vw;
        }

        &__img-container {
            max-width: 45rem;
            padding: 4vw;

            .img-phone {
                width: 100%;
            }
        }

    }



    .modusimg {
        width: 100%;
    }
}