.header {
    width: 100vw;
    &__modus {
        position: relative;
        height: 130rem;
        background: rgb(74, 81, 230);
        background: linear-gradient(218deg, rgba(74, 81, 230, 1) 0%, rgba(74, 17, 165, 1) 100%);

        &__wave1 {
            position: absolute;
            top: 0;
            left: 0;
            max-width: 50rem;

            &--img {
                width: 100%;
            }
        }

        &__wave2 {
            position: absolute;
            bottom: 0;
            right: 0;
            max-width: 70rem;

            &--img {
                width: 100%;
            }
        }

        &__hero-container {
            position: relative;
            top: 20rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            text-align: center;
            z-index: 1;

            &--img {
                background-image: url("../img/modus/phone.svg");
                background-size: 100%;
                background-repeat: no-repeat;
                max-width: 45rem;
                min-height: 80rem;
                margin: 2rem;

                @media only screen and (max-width: $bp-small) {
                    height: 80rem;
                }
            }

            &--gif {
                position: relative;
                width: 90%;
                padding: 6rem;
                top: 4.8rem;
            }
        }
    }

}



.main {
    width: 100vw;
    display: grid;
    justify-items: center;
    margin-top: 8rem;

}