.projectHeader{
    &__smertebert{
        position: relative;
        height: 105rem;
        background-image: url("../img/smertebert/hero-background.jpg");
        // background-color: #faded9;
            @media only screen and (max-width: $bp-small) {
                height: 90rem;
            }
        }
}

.heroContainer{
    &__smertebert{
        top: 18%;
        @media only screen and (max-width: $bp-small) {
            // top: 30rem;
        }
    } 
}

.heroText{
    
    &--smertebert{
        font-size: 2.5rem;
        font-family: merriweather, serif;
        color: #573025;
    }
}

// Designverktøy

.verktoy--smertebert{
    width: 100%;
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-gap: 2rem;
    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 1fr;
        margin-bottom: 6rem;
    }

    // Bilde
    .verktoy-smertebertImg{
        padding-left: 3rem;
        @media only screen and (max-width: $bp-medium) {
            padding-top: 0rem;
            padding-left: 0rem;
        }
        .verktoy-icon{
            width: 7rem;
        }
    }
}   
