.projectHeader{
    &__smertebert{
        position: relative;
        height: 105rem;
        background-image: url("../img/smertebert/hero-background.jpg");
        // background-color: $smertebert-color;
            @media only screen and (max-width: $bp-small) {
                height: 90rem;
            }
        }
}

.heroContainer{
    &__smertebert{
        top: 18rem;
        @media only screen and (max-width: $bp-small) {
            top: 30rem;
        }
    } 
}

.heroText{
    
    &--smertebert{
        font-size: 2.5rem;
        font-family: merriweather, serif;
        color: #573025;
    }
}

// Målgruppe
