.project-imgbox-small{
    max-width: 98rem;
    grid-column: 1 / 9; 
    width: 100%; 
    &__img{
        width: 100%;  
      }
}
.project-imgbox-large{
    max-width: 98rem;
    grid-column: 1 / 9;
    margin: 3rem auto;
    text-align: center;
    border: 1px solid;
    @media only screen and (max-width: $bp-small) {
        margin: 2rem;
    }

    &__img{
      width: 100%;  
    }
}