.project-imgbox-small{
    max-width: 98rem;
    grid-column: 1 / 9; 
    width: 100%; 
    margin-top: 5rem;
    margin-bottom: 5rem;
    &__img{
        width: 100%;  
      }
}
.project-imgbox-large{
    max-width: 100%;
    grid-column: 1 / 9;
    margin: 0rem 1rem;
    text-align: center;
    @media only screen and (max-width: $bp-small) {
        margin: 2rem;
    }

    &__img{
      width: 100%;  
    }
}