
.projectIntro {
    width: 100vw;
    min-height: 48rem;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 5.5vh;
    padding-bottom: 5.5vh;

    display: grid;
    justify-content: center;
    align-items: center;

    &--modus {
        background-color: #18076A;
    }
    &--jeghardeg {
        background-color: #600327;
    }

    &__container {
        max-width: 84rem;
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        grid-gap: 5rem;

        @media only screen and (max-width: $bp-small) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}