.projectParagraph{
    grid-column: 2 / 8;
    @media only screen and (max-width: $bp-small) {
        grid-column: 1 / 9;
        margin-left: 7vw;
        margin-right: 7vw;
    }
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 10rem;
} 