body{
    width: 100vw;
    overflow-x: hidden; /* Hide scrollbar horisontal */
}

.projectMain{
    margin-top: 6rem;
    margin-bottom: 20rem;
}

.projectArticle{
    max-width: 105rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 0rem;
}

// Grid med 2 kolonner og 1 rad
.projectGrid-2col-1row{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 1fr;
    }
}   