.persona-container{
    max-width: 120rem;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: min-content 1fr;
    align-items: center;
    justify-items: center;
    align-content: center;
    margin: 5rem auto;
}

.personaSlide{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.062), 0 6px 20px 0 rgba(0, 0, 0, 0.062);
}

.persona-dots{
    grid-column: 1 / 4;
    margin: 2rem 0;
}

.btn-prev,
.btn-next{
    width: 3rem;
    height: 3rem;
    border-radius: 50rem;
    cursor: pointer;
    margin: 2rem;
    background-color: $primary-color;
}