.product-container {
    max-width: 100%;
    display: grid;
    grid-column: 1 / 9;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: min-content min-content 1fr;
    align-items: center;
    justify-items: center;
    align-content: center;
    margin: 4rem 0 8rem 0;
}

.product-dots {
    grid-column: 1 / 4;
    margin-top: 0rem;
}

.productSlide {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 70rem 30rem;
    }

    @media only screen and (max-width: $bp-small) {
        align-items: center;
        justify-items: center;
        justify-content: center;
        grid-template-columns: 1.2fr;
        grid-template-rows: 52rem 32rem;
    }

    // padding: 0 2rem 0 0;
    // height: 85rem;
}





.phone-img {
    align-items: center;
    position: relative;
    background-image: url("../img/modus/phone.svg");
    background-size: 100%;

    background-repeat: no-repeat;
    width: 45rem;
    height: 77rem;

    @media only screen and (max-width: $bp-small) {
        align-self: center;
        max-width: 30rem;
        height: 100%;
    }

}

.product-video {
    position: relative;
    width: 98%;
    padding-left: 7.6rem;
    padding-right: 6.8rem;
    top: 10rem;

    @media only screen and (max-width: $bp-small) {
        width: 92%;
        padding-left: 6.2rem;
        padding-right: 3.2rem;
        top: 9rem;
    }
}

.productText {
    padding-left: 5rem;
    padding-right: 5rem;
    align-self: center;
    
    @media only screen and (max-width: $bp-small) {
        align-self: start;
        padding-left: 0rem;
        padding-right: 0rem;
    }
}