$primary-title: 'Merriweather', serif;
$secondary-title: 'Merriweather', serif;
$paragraph: 'Poppins', sans-serif;

$primary-fontcolor-dark: #222222;
$primary-fontcolor-grey: #424242;
$primary-fontcolor-light: #f5f5f5;

.project-h1,
.project-h2{
    font-family: $primary-title;
    font-weight: 700;
    color: $primary-fontcolor-dark;

    &--light{
        color: $primary-fontcolor-light;
    }
}

.project-h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.project-h2{
    font-size: 3rem;
    margin-bottom: 1.2rem;
}
.project-p{
    font-family: $paragraph;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 3.4rem;
    color: $primary-fontcolor-grey;
    margin-bottom: 2.5rem;
    
    &--dark{
        color: $primary-fontcolor-grey;
    }
    &--light{
        color: $primary-fontcolor-light;
    }
}