$primary-title: 'Merriweather',
serif;
$secondary-title: 'Merriweather',
serif;
$paragraph: 'Poppins',
sans-serif;

$primary-fontcolor-dark: #292929;
$primary-fontcolor-grey: #181818;
$primary-fontcolor-light: #f4f4f4;

.text-bold {
    font-weight: 600;
}
.text-highlight{
    background-color: #fff5c3d7;
    padding: 0 .5rem;
}
.linkResetter{
    text-decoration: underline;

    &--grey{
        color: $primary-fontcolor-dark;
    }

    &--white{
        color: white; 
    }

    &--smertebert{
        color: #573025;
    }
    &--jeghardeg{
        color: #edc0c0;
    }
}
.project-list-ul{
    padding-left: 2rem;
    margin-bottom: 2.4rem;
}
.project-list{
    font-family: $paragraph;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 4.6rem;
    color: $primary-fontcolor-grey;
}


.project-h1,
.project-h2,
.project-h3,
.project-h5 {
    font-family: $primary-title;
    font-weight: 700;
    color: $primary-fontcolor-dark;

    &--light {
        color: $primary-fontcolor-light;
    }

    @media only screen and (max-width: $bp-medium) {
        -webkit-hyphens: manual;
        -ms-hyphens: manual;
        hyphens: manual;
    }
}

.project-h1 {
    font-size: 3.2rem;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.project-h2 {
    font-size: 2.3rem;
    margin-bottom: 1.6rem;

    &--smertebert{
        color: #573025;
    }
    &--jeghardeg{
        color: #edc0c0;
    }
}

.project-h3 {
    font-size: 2.2rem;
    margin-bottom: 3rem;
    text-align: center;
}

.project-h5 {
    font-size: 1.4rem;
    text-align: center;
    line-height: 3rem;
    margin-top: 1rem;
}

.projectIntro-p {
    font-family: $paragraph;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: $primary-fontcolor-light;
    margin-bottom: 1.5rem;

    &--smertebert{
        color: #66392d;
    }
    &--jeghardeg{
        color: #edc0c0;
    }
}


.project-p {
    font-family: $paragraph;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 3.4rem;
    color: $primary-fontcolor-grey;
    margin-bottom: 2.4rem;

    &--dark {
        color: $primary-fontcolor-grey;
    }

    &--light {
        color: $primary-fontcolor-light;
    }

    @media only screen and (max-width: $bp-small) {
        line-height: 30px;
    }
}

.project-highlight{
    font-family: $primary-title;
    font-weight: 500;
    font-size: 3rem;
    // font-style: italic;
    line-height: 3.4rem;
    color: #1f1f1f;
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
    // margin-left: 6vw;
}


.p-description-small {
    font-family: $paragraph;
    font-weight: 300;
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.4rem;
    align-self: center;
}